# Compiled Object files
*.slo
*.lo
*.o
*.obj
*~
*#
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.LOCAL.*
*.REMOTE.*
*.BASE.*

# Executables
*.exe
*.out
*.app
*.ilk

#build/bin folders
build/
bin/

#emacs project folder
.emacsproject/

*.pdb
